.container {
  margin-top: 40px;
}

#calculator {
  background-color: #826262;
  padding: 20px;
  width: 430px;
  font-family: 'Montserrat', sans-serif;
  -webkit-box-shadow: 6px 6px 14px 0px rgba(59, 0, 1, 1);
  -moz-box-shadow: 6px 6px 14px 0px rgba(59, 0, 1, 1);
  box-shadow: 6px 6px 14px 0px rgba(59, 0, 1, 1);
  border-radius: 10px;
}

input {
  text-align: right;
  margin-bottom: 20px;
}

.form-control[disabled] {
  cursor: default;
  height: 60px;
  font-size: 25px;
}

.btn {
  width: 26.3%;
  margin: 0 11px 15px;
  font-size: 30px;
  line-height: 2.2;
}

.btn:focus, .btn:active {
  outline: none !important;
}
